<html>
<head>
	#if($activateEmail)
		<title>wheel4注册激活</title>
	#end
	
	#if($resetPwd)
		<title>[wheel4]找回您的帐户密码</title>
	#end
</head>
<body>
	<p>亲爱的用户$email,您好!</p>
	
	#if($activateEmail)
		<p>您的wheel4账户马上就要被激活了，在此之前请先对你的注册进行确认。</p>
	#end
	
	#if($resetPwd)
		<p>
            您收到这封这封电子邮件是因为您 (也可能是某人冒充您的名义) 申请了一个新的密码。 假如这不是您本人所申请,
            请不用理会这封电子邮件, 但是如果您持续收到这类的信件骚扰, 请您尽快联络管理员。
		</p>
	#end
	
	<p>
		#if($resetPwd)
			<a href="$link">要使用新的密码, 请点击此链接启用密码！</a>
		#end
		
		#if($activateEmail)
			<a href="$link">点击这里确认你的注册！</a>
		#end
	</p>
	<p>如果你无法点击上面的链接，请复制并粘贴此网址到浏览器的地址栏上：</p>
	<p>
		<a href="$link">
			$link
		</a>
	</p>
	#if($activateEmail)
		<p>
            倘若你从未注册过<a href="http://www.wheel4.com">http://www.wheel4.com</a>，请不要担心，只需忽略此邮件即可。
		</p>
	#end
	<p>
        我们将一如既往、热忱的为您服务！
	</p>
	<p>wheel4团队</p>
</body>
</html>