<html>
<head>
    #if($activateEmail)
        <title>健身达人网注册激活</title>
    #end

    #if($resetPwd)
        <title>健身达人网找回您的帐户密码</title>
    #end
</head>
<body>
<p>亲爱的用户$email，您好!</p>
<br>
    #if($activateEmail)
    <p>您的健身达人网账户马上就要被激活了，在此之前请先对你的注册进行确认。</p><br>
    #end

    #if($resetPwd)
    <p>
        您收到这封这封电子邮件是因为您 (也可能是某人冒充您的名义) 请求发送你在健身达人网的登录密码到您的邮箱。 假如这不是您本人所申请,
        请不用理会这封电子邮件, 但是如果您持续收到这类的信件骚扰, 请您尽快联络管理员。
    </p>
    <br>
    您的密码为 $password
    #end
<br>

    #if($activateEmail)
    <a href="$link">点击这里确认你的注册！</a>

    <p>如果你无法点击上面的链接，请复制并粘贴此网址到浏览器的地址栏上：</p>

    <p>
        <a href="$link">
            $link
        </a>
    </p>

    <p>
        倘若你从未注册过<a href="http://www.wheel4.com">http://www.wheel4.com</a>，请不要担心，只需忽略此邮件即可。
    </p>
    #end
<br>

<p>
    我们将一如既往热忱地为您服务！
</p>
<br>

<p>健身达人网团队</p>
</body>
</html>